<!-- public/views/home.html -->

<div class="row">
    
    <div class="col-md-3">
        
        <div ng-include data-src="'../views/sidebar.html'"></div>
    </div>
    
    <div class="col-md-9">
        
        <div ng-include data-src="'../views/runner.html'"></div>
    </div>
    
</div>


