<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Test Runner Results</h3>
  </div>
  <div class="panel-body">
            <script>
            //init mocha
            mocha.setup('bdd');
            var expect = chai.expect;
          </script>

          <script src="../specs/test.js"></script>
          
           <div id="mocha"></div>

          <script>
            mocha.checkLeaks();
            mocha.run();
          </script>
  </div>
</div>
