<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Test Suites 
            <span class="pull-right">
                <button class="btn btn-success btn-sm" ng-click="aButton()" id="runTestsButton">
                    <span class="glyphicon glyphicon-play"
                </button>
            </span>
        </h3>
    </div>
    <div class="panel-body">
        Test Suites to go here...
    </div>
</div>