<div style="border: 1px solid blue;">
    
    <p>test</p>
    
        <script>
            //init mocha
            mocha.setup('bdd');
            var expect = chai.expect;
          </script>

          <script src="../specs/test.js"></script>
          
           <div id="mocha"></div>

          <script>
            mocha.checkLeaks();
            mocha.run();
          </script>
</div>