.home {

}

#runTestsButton {
    position: relative;
    bottom: 6px;
}

/* overrides */
#mocha {
    margin: 0 !important;
}

ul#mocha-stats {
    height: 40px;
    position: relative;
    font-size: 14px;
    top: 0;
    right: 0;
    border-bottom: 1px solid #CCC;
}

#mocha-stats canvas {
    height: 40px;
    width: 40px;
}

#mocha-stats .progress {
    height: 40px;
    position: relative;
    bottom: 5px;
    background-color: rgba(0,0,0,0);
}

#mocha-stats li.passes {
    position: relative;
    bottom: 7px;
    color: green;
}

#mocha-stats li.failures {
    position: relative;
    bottom: 7px;
    color: red;
}

#mocha-stats li.duration {
    position: relative;
    bottom: 7px;
    color: gray;
}

ul#mocha-report {
    border-bottom: 3px solid rgba(147, 147, 244, 0.62);
}

#mocha .suite {
    margin-bottom: 10px;
}

